.container{
    height:15rem;
    width:50%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:2%;
}
.userInfo{
  display:flex;
  align-items: center;

}
.likeAndComments{
    display: flex;
    width:30%;
    justify-content: space-evenly;
    align-items: center;
}