.navbar{
    height:2.5rem;
    width:100%;
    border:1px soild black;
    background-color: bisque;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
.logo{
    margin-left:4%;
}

.space{
    width:20vw;
    display: flex;
    justify-content: space-evenly;
    font-size:1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}